# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/

# Streamlit cache
.streamlit/

# FAISS & pickle files
index_store/
uploaded_pdfs/

# System files
.DS_Store
Thumbs.db
